.product-detail-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product-detail-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  /* --------------------------------------------------- */

   .product-detail-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  } 
  

   .product-detail-image {
    width: 100%;
    max-width: 550px; /* Adjust max-width to control the size */
    margin: 0 auto;
}

.product-detail-image img {
    width: 100%;
    height: auto;
    object-fit: contain; 
   border-radius: 8px;
    transition: transform 0.3s ease-in-out; 
}

 .product-detail-image img:hover { 
     transform: scale(1.05); 
 }

/* ------------------------------------ */

  .product-detail-info {
    padding: 1rem;
  }
  
  .product-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .product-category {
    font-size: 1.1rem;
    color: #888;
    text-transform: capitalize;
  }
  
  .product-description {
    font-size: 1rem;
    margin: 1rem 0;
    color: #555;
    font-family: cursive;
  }
  
  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c;
  }
  
  .add-to-cart-btn {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    margin-top: 1rem;
  }
  
  .add-to-cart-btn:hover {
    background-color: #e67e22;
    transform: scale(1.05);
  }
  
  .add-to-cart-btn1 {
    background-color: green;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    margin-top: 1rem;
  }
  
  .add-to-cart-btn1:hover {
    background-color: red;
    transform: scale(1.05);
  }